<div class = "main-scores-body">
  <div class = "score-info-section">
    <div class = "score"> SCORE: <%=@score%></div>
    <div class = "level"> LEVEL: <%=@level%></div>
  </div>

  <div class = "graph-section">
    <input type = 'hidden' name = 'final-score' value=<%=@score%>>
    <input type = 'hidden' name = 'score-graph-info' value=<%=@score_percentage.to_json %>>
    <canvas id="myChart"></canvas>
  </div>

  <div id = 'play-again-button'>
    <%= link_to 'PLAY AGAIN', '/game?lvl=1', class: 'play-again btn btn-primary'%>
  </div>

  <div class = "comment-section">
    <div class = 'title'>TELL US WHAT YOU THINK?</div>
    <div id = "ajax-return"></div>
    <%= form_with(url: "/users", method: :post) do |form| %>
      <div class = 'container'>
        <div class = 'row form-group'>
          <%= form.text_area :comment, placeholder:'Best game ever!!!' ,class: 'col-sm-5' %>
        </div>
      </div>

      <div class = 'buttons'>
        <%= form.submit 'SUBMIT', class: 'btn btn-primary'%>
      </div>
    <% end %>
  </div>

</div>