<nav class = "header navbar navbar-fixed-top navbar-text sticky-top navbar-collapse">
  <div class = "container">
    <%= link_to 'TEST YOUR MEMORY', main_path, class: 'intro'%>
    <div class = 'menu'>
      <div class='option'> <%= link_to 'MAIN', main_path%> </div>
      <div class='option'> <%= link_to 'HELP', tutorial_path%> </div>
      <div class='option'> <%= link_to 'ABOUT', about_path%> </div>
      <div class='option' id = 'login'> 
        <div id = 'collapse-panel' aria-expanded='false' aria-controls='collapse'>
          <a data-toggle = 'collapse' href="#collapse-login" aria-expanded='false' aria-controls="#collapse-login"> <%=login_title%> 
          </a>
            <% if logged_in? %>
              <div id = 'collapse-login'>
                <div class = 'list-group'>
                  <li class = 'list-group-item'><%=link_to 'View Profile', user_path(current_user), class: 'current-user-menu'%></li>
                  <li class = 'list-group-item'><%=link_to 'Log out','/logout', method: :delete, class: 'current-user-menu'%></li>
                </div>
              </div>
            <% end %>
    </div>
  </div>
</nav>