<nav class = "header navbar navbar-fixed-top navbar-text sticky-top navbar-collapse">
  <div class = "container">
    <%= link_to 'TEST YOUR MEMORY', main_path, class: 'intro'%>
    <div class = 'menu'>
      <div class='option'> <%= link_to 'MAIN', main_path%> </div>
      <div class='option'> <%= link_to 'HELP', tutorial_path%> </div>
      <div class='option'> <%= link_to 'ABOUT', about_path%> </div>
      <div class='option' id = 'login'>  LOGIN </div> 
    </div>
  </div>
  <%= render partial: 'shared/sign_in_box'%>
</nav>