<div class = 'sign-in-box'>
  Hello world, my name is Viet Dang 
  <div id = 'main-content'>
    <div id = 'box-header'>

      <div id = 'sign-in-option'>
        SIGN IN 
      </div>
      <div id = 'sign-up-option'>
        SIGN UP
      </div>

    </div>
    <div id = 'box-body'>
        <div id = 'sign-in-view'>
          <%= form_with(url: '/users', method: :post) do |form| %>
            <div class = 'row form-group'>
              <%= form.label :meail, 'Email', class: 'col-sm-3'%>
              <%= form.text_field :email, placeholder: 'example@gmail.com', class: 'col-sm-5'%>
            </div>

            <div class = 'row form-group'>
              <%= form.label :password, 'Password', class: 'col-sm-3'%>
              <%= form.password_field :password, class: 'col-sm-5'%>
            </div>

            <%= form.submit 'LOG IN', class: 'btn btn-primary btn-lg' %>

          <% end %>
        </div>

    </div>
    <div id = 'box-footer'>
    </div>
  </div>
</div>