<div class = "main-body">
  <div class = "result-message"> </div>
  <div class = 'ready-section'>
    <div class = "message"> START IN ...</div>
    <div class = "count"> 2 </div>
  </div>
  <div class = "score-section">
    <div class = "level">
      <p> LEVEL <%= @current_lvl%> </p>
    </div>
    <div class = "score">
      <p> SCORE: 100 pts</p>
    </div>
    <input type = 'button' class = 'next-level btn btn-primary btn-large' value = 'START PLAYING'>
  </div>

  <div class = "game-section">
    <input type = 'hidden' name='no-of-cols' value = <%=@no_of_col%>>
    <input type = 'hidden' name='no-of-rows' value = <%=@no_of_row%>>
    <input type = 'hidden' name='current-level', value = <%=@current_lvl%>>
    <input type = 'hidden' name='random-square-coordinates' value = <%="#{@random_square_coordinates.to_json}"%> >
    <div class = "main-board">
      <% for i in 0..@no_of_row-1 do%>
        <span class = "row">
          <% for j in 0..@no_of_col-1 do%>
            <div class = "front-square">
              <div class = 'flip-square-inner' coordinate = <%="[#{i},#{j}]"%>>
                <div class = 'flip-square-front'> </div>
                <div class = 'flip-square-back'> </div>
              </div>
            </div>
          <% end%>
        </span>
      <% end %>
    </div>
  </div>

</div>
